.btn {
    position: relative;
    border: none;
    height: 40px;
    margin: 0;
    padding: 0 1em;
    cursor: pointer;
    color: black;
    background: none;
    border-radius: var(--border-radius);
}

.btn--block {
    display: block;
    width: 100%;
}

.btn--primary {
    background: var(--primary);
    font-weight: bold;
    transition: transform 275ms ease;
}
.btn--primary:hover,
.btn--primary:active,
.btn--primary:target
 {
    transform: translate(0.25em, 0px);
}

.btn--menu {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    fill: var(--primary);
}

.btn--menu i {
    color: var(--primary);
}