header {
    position: fixed;
    width: 100%;
    height: var(--header-height);
    z-index: 1;
    transition: all 275ms ease;
}

/* Fix nav overlaying main */
main {
    padding-top: var(--header-height);
}

nav a {
    color: var(--offwhite);
}