.fade-in {
    opacity: 0;
    transition: all 375ms ease-in;
}

.fade-in.appear {
    opacity: 1;
    transition: all 375ms ease-in;
}

.from--left {
    transform: translateX(-15%);
}

.from--right {
    transform: translateX(15%);
}

.from--bottom {
    transform: translateY(15%);
}

.from--left,
.from--right,
.from--bottom {
    opacity: 0;
    transition: transform 375ms ease-in;
}

.from--left.appear,
.from--right.appear,
.from--bottom.appear {
    opacity: 1;
    transition-property: opacity transform;
    transition: 375ms ease-in;
    transform: translateX(0);
}